<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!---------------------------------------------------------------------
		| <meta name="keywords" content="dise침o web, c칩digo, programaci칩n" /> |
		---------------------------------------------------------------------->
		<meta
			name="description"
			content="<%= publication.description %>"
		/>
		<% for (let author of authors) { %>
			<meta
				name="author"
				content="<%= author.name %>"
			/>
		<% } %>
		<title><%= publication.title %></title>
		<!--
			<link rel="stylesheet" href="css/publication.css">
		-->
		<link rel="shorcut icon" type="image/x-icon" href="/img/ico/ico.svg">
		<link rel="stylesheet" href="/css/standard.css">

		<!--KaTeX-->
		<link rel="stylesheet" href="/katex/katex.min.css">
		<script defer src="/katex/katex.min.js"></script>
		<script defer src="/katex/contrib/auto-render.min.js"></script>
		<script>
			window.addEventListener('load', () => renderMathInElement(document.body))
		</script>
	</head>
	<body>
		<header>
			<%- include('components/nav') %>
			<!--
			<nav>
				<a href="/">Inicio</a>
				<a href="#$suggestions">Otros articulos</a>
				<a href="#$ontact">Redes</a>
				<%# if (is_author) { %>
					<a href="/log_out">Cerrar sesi칩n</a>
				<%# } %>
			</nav>
			-->
		</header>
		<!---->
		<main>


			<%# if (is_author) { %>
				<%#- include('components/post_author', {is_author, publication}) %>
			<%# } else { %>
				<%#- include('components/post', {is_author, publication}) %>
			<%# } %>


			<%- include('components/post_author', {is_author, publication}) %>

			<% if (is_author) { %>
				<div style="margin-top: 50px;"></div>
			<% } %>
			<%- include('components/authors', is_author, authors) %>
		</main>
		<footer>
			<% if (suggestions) { %>
				<%- include('components/suggestions') %>
			<% } %>
		</footer>
	</body>
</html>
