<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= `${user.name}${user.job ? ` - ${user.job}` : ''}` %></title>
		<!--<link rel="stylesheet" href="/css/style.css">-->
		<link rel="stylesheet" href="/css/standard.css">
		<link rel="shorcut icon" type="image/x-icon" href="/img/ico/ico.svg">

		<!--KaTeX-->
		<link rel="stylesheet" href="/katex/katex.min.css">
		<script defer src="/katex/katex.min.js"></script>
		<script defer src="/katex/contrib/auto-render.min.js"></script>
		<script>
			window.addEventListener('load', () => renderMathInElement(document.body))
		</script>
	</head>
	<body>
		<header>
			<%- include('components/nav') %>
			<%- include('components/presentation') %>
		</header>
		<main>
			<%- include('components/posts') %>
			<%#- include('components/posts_user_profile', {posts: results.posts}) %>
			<%#- include('components/posts_user_profile', {is_author, publications}) %>
		</main>
		<footer>
			<%- include('components/social_networks') %>
		</footer>
	</body>
</html>